<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PrintInvoice.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<applicationSettings>
		<PrintInvoice.Properties.Settings>
			<setting name="UnshipSinglePackageDataQuery" serializeAs="String">
				<value>unship_single_package_data.sql</value>
			</setting>
			<setting name="UnshipBatchPackageDataQuery" serializeAs="String">
				<value>unship_batch_package_data.sql</value>
			</setting>
			<setting name="UnshippedQuery" serializeAs="String">
				<value>unshipped.sql</value>
			</setting>
			<setting name="ReprintQuery" serializeAs="String">
				<value>reprint.sql</value>
			</setting>
			<setting name="ReprintSinglePackageDataQuery" serializeAs="String">
				<value>reprint_single_package_data.sql</value>
			</setting>
			<setting name="ReprintBatchPackageDataQuery" serializeAs="String">
				<value>reprint_batch_package_data.sql</value>
			</setting>
			<setting name="RepairQuery" serializeAs="String">
				<value>repair.sql</value>
			</setting>
			<setting name="LastBatchesQuery" serializeAs="String">
				<value>last_batches.sql</value>
			</setting>
			<setting name="InvoiceLoaderCacheSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="PrintJobQueueMaxSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="SaveStatusQueueMaxSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="ElementsOrderedFieldIndex" serializeAs="String">
				<value>9</value>
			</setting>
			<setting name="InvoiceSequenceNumberFontSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="InvoiceSequenceNumberX" serializeAs="String">
				<value>375</value>
			</setting>
			<setting name="InvoiceSequenceNumberY" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="MasterPickListFontSize" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="InvoiceSequenceNumberXPackJacket" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="InvoiceSequenceNumberYPackJacket" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="LabelServiceUrl" serializeAs="String">
				<value>http://devsvn.mnmglobal.com/scripts/label_service/web/LabelService_OXN.php?wsdl</value>
			</setting>
			<setting name="PrintStationId" serializeAs="String">
				<value>DEV_OXN-DEMO</value>
			</setting>
			<setting name="HelpText" serializeAs="String">
				<value>PrintApp for LabelService DEV-OXN. On tabs "Regular" and "Non-USPS", you can:
    (a)Print all Labeled Orders with "Invoices_to_be_printed"=&gt;ALL,
    (b)Print by ShipMethod--choose from "Invoices_to_be_printed",
    (c)Select "Custom" orders to print-rightclick orders on below list and they should show up on Top list,
    (d)Reprint a printed order with REPRINT button.</value>
			</setting>
			<setting name="UnshipHelpText" serializeAs="String">
				<value>PrintApp for LabelService DEV-OXN. Unship operation: refund postage, set package status to LABELABLE, set orders status to last status before LABELED.
***Use the "Add Invoices" and "Last Batches" buttons to load packages to "unship".
NOTE: Unshipped orders will be picked for labeling on the following day. If you need to reprint before then see the Pick New tab.</value>
			</setting>
			<setting name="UnshippedHelpText" serializeAs="String">
				<value>PrintApp for LabelService DEV-OXN. List below represents unlabeled packages remaining to be picked for labeling. (Only a certain number of packages are auto-picked for labeling each morning.) Usually you would pick the EXPRESS packages first, or specific orders that need to be shipped right away. New and Unshipped orders will be available in below list within 3 minutes. NOTE: Packages you pick with this tool will start labeling and be printable within 5 minutes.</value>
			</setting>
			<setting name="RepairHelpText" serializeAs="String">
				<value>PrintApp for LabelService DEV-OXN. Repair Errors (BETA). Use this to repair packages with statuses of ERROR, (or various LOCKED and older than 10 minutes).</value>
			</setting>
			<setting name="ReprintHelpText" serializeAs="String">
				<value>PrintApp for LabelService DEV-OXN. Reprint previous batches or orders. This is useful if you printed to the wrong printer, printer crashed, printer-out-of-ink, etc.
***BE CAREFUL NOT TO PRINT/PACK DUPLICATE ORDERS***</value>
			</setting>
		</PrintInvoice.Properties.Settings>
	</applicationSettings>

	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<appendToFile value="true" />
			<file value="${APPDATA}\W3Pack\Logs\" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<datePattern value="'log_'yyyy-MM-dd'.txt'" />
			<maxSizeRollBackups value="30"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ISO8601} [%thread]: %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
</configuration>